.container {
}

.headerSection {
    margin-bottom: 6px;
}

.courseTitle {
 
}

.courseId {
    font-size: small !important;
}

.courseAssignments {
    margin-top: 10px;
}

.newAssignment {
    border: 2px lightskyblue solid;
    background: aliceblue;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
}
.newAssignment:hover {
    background: #fccd5b;
}

.courseDescription {
 
}